---
version: "3"
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
    volumes:
      - {{ docker_services_dir }}/radarr/config:/config
      - {{ media_dir }}:/media
    ports:
      - 7878:7878
    restart: unless-stopped
  
# At UI...
# 1 - Need to create root folder as /media/streaming/movies
# 2 - Remap Download client in Remote Path with /downloads/ -> /media/torrents/