---
version: "3"
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
    volumes:
      - {{ docker_services_dir }}/radarr/config:/config
      - {{ movie_dir }}:/movies #optional
      - {{ download_dir }}:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped